@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Yusei+Magic&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Yusei+Magic&display=swap');

html, body, #root {
  height: 100%;
}


.custom-font {
  font-family: "Yusei Magic", sans-serif;
  /* font-family: "Concert One", sans-serif; */
}

.chili-red {
  color: #E3170A;
}

.logo {
  padding-right: 25%;
}

.navbar-bg {
  padding: 20px;
  background-color: #e8e8e8;
}

.footer {
  background-color: #bfbfbf;
  padding: 40px 40px 20px;
}